# STM32CubeIDE / Eclipse
.metadata/
Debug/
Release/
*.o
*.d
*.elf
*.bin
*.hex
*.map
*.lst

# Fișiere temporare sistem
.DS_Store
Thumbs.db

# Configurații specifice IDE
.settings/
.project
.cproject
*.launch

# Backup-uri și jurnale
*.bak
*.tmp
*.log
